* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  height: 44px;
  width: 100%;
  background-color: #181818;
  align-items: center;
  z-index: 5;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  width: 100%;
  font-size: 12px;
  font-family: "SF Pro Text", "SF Pro Icons", Arial, Helvetica, sans-serif;
  letter-spacing: -0.374px;
  line-height: 25px;
  padding: 0 140px;
  padding-bottom: 10px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #D0D0D0;
}

nav a:hover {
  color: #007AFF;
}


.section1 {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  text-align: center;
}

.section1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 21px;
  font-family: Arial, sans-serif;
  background: linear-gradient(270deg, #00A1FF, #6B47F8, #DC4ADE, #FF3B30, #FF9500);
  -webkit-background-clip: text;
  color: transparent;
}

.section1 .content1 {
  color: white;
  padding-top: 2px;
  line-height: 30px;
  font-family: "SF Pro Text", "SF Pro Icons", Arial, Helvetica, sans-serif;
}

.section1 h1 {
  font-size: 50px;
}

.section1 p {
  font-size: 27px;
}

.section1 button {
  margin: 0 15px;
  padding: 7px 20px;
  font-size: 17px;
  border-radius: 30px;
}


.section2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #F5F5F7;
  text-align: center;
  margin-top: 10px;
}

.section2 img {
  position: absolute;
  top: 50%;
  left: 38%;
  width: 25%;
  height: 23%;
}

.section2 .hello1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 103vh;
  font-size: 21px;
  font-family: Arial, sans-serif;
  background: linear-gradient(270deg, #00A1FF, #6B47F8, #DC4ADE, #FF3B30, #FF9500);
  -webkit-background-clip: text;
  color: transparent;
}

.section2 .content2 {
  color: black;
  padding-top: 50px;
  line-height: 30px;
  font-family: "SF Pro Text", "SF Pro Icons", Arial, Helvetica, sans-serif;
}

.content2 button {
  margin: 0 15px;
  padding: 7px 22px;
  font-size: 17px;
  border-radius: 30px;
}

.section2 h1 {
  font-size: 50px;
  font-weight: 700;
}

.section2 p {
  font-size: 27px;
}


.section3 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #F5F5F7;
  text-align: center;
  margin-top: 10px;
}

.section3 img {
  position: absolute;
  top: 37%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.section3 .hello2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 21px;
  font-family: Arial, sans-serif;
  background: linear-gradient(270deg, #00A1FF, #6B47F8, #DC4ADE, #FF3B30, #FF9500);
  -webkit-background-clip: text;
  color: transparent;
}

.section3 .content3 {
  color: black;
  padding-top: 50px;
  line-height: 30px;
  font-family: "SF Pro Text", "SF Pro Icons", Arial, Helvetica, sans-serif;
}

.content3 button {
  margin: 0 15px;
  padding: 7px 22px;
  font-size: 17px;
  border-radius: 30px;
}

.section3 h1 {
  font-size: 50px;
  font-weight: 700;
}

.section3 p {
  font-size: 27px;
}


.section4 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 1764px;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.section4 div {
  position: relative;
  height: 580px;
  width: 613.667px;
  overflow: hidden;
}

.section4 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 580px;
  width: 620px;
  object-fit: cover;
  z-index: -1;
}

.section4 .content4 {
  position: absolute;
  top: 70%;
  line-height: 20px;
  color: white;
  text-align: center;
  font-family: "SF Pro Text", "SF Pro Icons", Arial, Helvetica, sans-serif;
  word-spacing: 3px;
}

.section4 .content4 button {
  margin: 0 15px;
  padding: 7px 22px;
  font-size: 14px;
  border-radius: 30px;
}

.section4 .content4 h1 {
  font-size: 40px;
}

.section4 .content4 p {
  font-size: 20px;
}

.section4 .content5 {
  position: absolute;
  top: 30px;
  line-height: 20px;
  color: white;
  text-align: center;
  font-family: "SF Pro Text", "SF Pro Icons", Arial, Helvetica, sans-serif;
}

.section4 .content5 button {
  margin: 0 15px;
  padding: 7px 22px;
  font-size: 14px;
  border-radius: 30px;
}

.section4 .content {
  position: absolute;
  top: 30px;
  text-align: center;
  color: black;
  line-height: 20px;
}

.content button {
  margin: 0 15px;
  padding: 7px 22px;
  font-size: 15px;
  border-radius: 30px;
}

.section4 h1 {
  font-size: 40px;
}

.section4 p {
  font-size: 20px;
}


.hamburger-menu {
  display: none;
  font-size: 18px;
  cursor: pointer;
  color: #D0D0D0;
  padding: 1px 8px;
 
}

/* Media Queries */
/* Tablet */
@media (max-width: 768px) {

  .section1 h1 {
      font-size: 36px;
  }

  .section1 p {
      font-size: 20px;
  }

  .section1 button {
      padding: 6px 15px;
      font-size: 14px;
  }

  .hamburger-menu {
      display: block;
      
  }

  .list {
      display: none;
      flex-direction: column;
      height: auto;
      
  }

  .list.active {
      display: flex;
  }

  .list li {
      padding: 10px 0;
      font-size: 30px;
     line-height: 50px;

  }

  .section1 .content1{
      margin-top: 20px;
  }

  .section1 h1 {
      font-size: 58px;
  }

  .section1 p {
      font-size: 18px;
  }

  .section1 button {
      padding: 6px 12px;
      font-size: 12px;
  }
  .section3 img{
      margin-top: 20px ;
  }
  .section4 {
      margin-top: 10px;
  }

  



}


/* Mobile */
@media (max-width: 480px) {
  
  .list {
      flex-direction: column;
      padding: 0 20px;
      align-items: flex-start; 
      /* line-height: 0px */
  }

  .list a {
      font-size: 12px;  
      width: 100%; 
      text-align: left; 
      line-height: 0;
      
     
  }

  .section1 h1 {
      font-size: 28px;

  }
  .section1 {
      background-image: url("https://www.apple.com/v/home/bu/images/heroes/macbook-pro-enhanced/hero_macbookpro_announce__f7vm5bnswsae_small_2x.jpg");
      background-size: cover; /* Ensures the image covers the entire section */
      background-position: center; /* Centers the image */
  }
  
  .section1 p {
      font-size: 18px;
  }

  .section1 button {
      padding: 6px 12px;
      font-size: 12px;
  }

  .section2 h1 {
      font-size: 28px;
  }

  .section2 p {
      font-size: 18px;
  }

  .section2 button {
      padding: 6px 12px;
      font-size: 12px;
  }
  
  .section3 img{
      height: 200px;
  }

  .section3 h1 {
      font-size: 28px;
  }

  .section3 p {
      font-size: 18px;
  }

  .section3 button {
      padding: 6px 12px;
      font-size: 12px;
  }

  .section4 div {
      height: 400px;
      width: 100%;
  }

  .section4 img {
      height: 400px;
      width: 100%;
  }
  .section4 .content {
      line-height: 15px;
  }

  .section4 .content4 h1 {
      font-size: 20px;
      font-weight: 800;
  }

  .section4 .content4 p {
      font-size: 13px;
  }
  .section4 .content4 button {
      padding: 6px 12px;
      font-size: 12px;
  }
  .section4 .content5 h1 {
      font-size: 20px;
      font-weight: 800;
  }
  .section4 .content5 p {
      font-size: 13px;
  }
  .section4 .content5 button {
      padding: 6px 12px;
      font-size: 12px;
  }
  .section4 #a3 {
      background-image: url("https://www.apple.com/v/home/bu/images/promos/apple-watch-series-10/promo_apple_watch_series_10_avail__b9etp10v9tn6_small_2x.jpg");
      background-size: cover; /* Ensures the image covers the entire section */
      background-position: center; /* Centers the image */
  }
  
  .section4 .content h1 {
      font-size: 20px;
      font-weight: 800;
  }
  .section4 .content h5 {
      font-size: 13px;
  }
  .section4 .content p {
      font-size: 13px;
  }
  .section4 .content button {
      padding: 6px 12px;
      font-size: 12px;
  }

}


input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .hamburger-menu + .list {
  display: flex;
  height: 474px;
  background-color: #161617;

}


/* Slider container */
.slider-container {
  margin-top: 10px;
  width: 100%;
  height: 530px;
  position: relative;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 28px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
}

.swiper-button-next, .swiper-button-prev {
  color: #333;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  position: relative;
  bottom: 20px;
  width: 10px;
  height: 10px;
  background-color: rgba(15, 14, 14, 0.374);
  border-radius: 50%; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #007AFF; 
  transform: scale(1.2);
}

.swiper-pagination-bullet:hover {
  background-color: rgba(6, 5, 5, 0.8); 
  transform: scale(1.2); 
}

.pause-play {
  background: #D2D2D7; 
  position: absolute; 
  top: 490px;
  right: 20px; 
  border: solid white 1px; 
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  cursor: pointer; 
  z-index: 10; 
}


.pause-play svg {
  width: 15px;
  height: 15px;
  fill: #0a0a0a;
}

.pause-play:hover svg {
  fill: #007aff;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .caption {
      font-size: 20px;
      bottom: 20px;
      left: 15px;
  }
}

@media (max-width: 480px) {
  .caption {
      font-size: 16px;
      bottom: 15px;
      left: 10px;
  }
}





footer {
  width: 100%;
  background-color: #F5F5F7;
  /* color: #9d9da4; */
  height: auto;
  /* margin-top: 10px; */

}

/* footer1 */
.footer1 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 40px;
}

.footer1 a {
  color: #6b6b71;
  text-decoration: underline;
}

.footer1 .text1, .footer1 .text2, .footer1 .text3, .footer1 .text4 {
  padding-bottom: 10px;
  color: #9d9da4;
  line-height: 1.6;
}

/* footer2 */
.footer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 141px;
  gap: 20px;
}

.footer2 div {
  width: 180px;
  font-size: 14px;
  color: #6d6d6e;
}

.footer2 ul {
  padding: 0;
}

.footer2 ul li {
  list-style: none;
  text-align: start;
  margin-bottom: 10px;
}

.footer2 h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer2 a {
  text-decoration: none;
  color: #858586;
}

.footer2 a:hover {
  text-decoration: underline;
}

/* footer3 */
.footer3 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 40px;
}

.panel1 {
  font-size: 12px;
  color: #6d6d6e;
}

.panel2, .panel3 {
  display: flex;
  gap: 10px;
}

.panel2 li, .panel3 li {
  list-style: none;
  cursor: pointer;
  font-size: 12px;
}

.panel2 li:hover, .panel3 li a:hover {
  text-decoration: underline;
}

.panel3 li a {
  text-decoration: none;
  color: #000;
}


@media screen and (max-width: 768px) {
  footer{
      margin-top: 0;
  }
  .footer1 {
      margin: 0 20px;
  }

  .footer2 {
      flex-direction: column;
      align-items: center;
      margin: 0 20px;
  }

  .footer2 div {
      width: 100%;
      text-align: center;
  }

  .footer2 ul li {
      text-align: center;
      margin-bottom: 15px;
  }

  .footer3 {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
  }

  .panel1, .panel2, .panel3 {
      margin-bottom: 10px;
  }

  .panel2 {
      flex-wrap: wrap;
      justify-content: center;
  }

  .panel3 {
      justify-content: center;
  }


}
/* mobail */
@media screen and (max-width: 480px) {
  footer{
      margin-top: 5px;
  }
  .footer1 {
      margin: 0 10px;
      font-size: 12px;
  }

  .footer2 div {
      font-size: 12px;
  }

  .footer2 ul li {
      margin-bottom: 12px;
  }

  .footer3 {
      padding: 15px;
  }

  .panel2 li, .panel3 li {
      font-size: 10px;
  }

  .panel3 li a {
      font-size: 10px;
  }
}